In [1]:
import numpy as np

# The Basics

In [4]:
#Convert list into NumPy array

a = np.array([1,2,5], dtype='int32') #specinfying data type
a

array([1, 2, 5])

In [6]:
# 2 Dimentional Array
b = np.array([[4,9.0,5.0],[4,6,1.0]])
b

array([[4., 9., 5.],
       [4., 6., 1.]])

#### Getting the Dimentions using [.ndim]

In [12]:
a.ndim #  == 1
b.ndim #  == 2 
print(f'b.ndim = {b.ndim}')

b.ndim = 2

#### Getting the Shape using [.shape]

In [13]:
b.shape

(2, 3)

#### Getting the Data type using  [.dtype]

In [20]:
a.dtype

dtype('int32')

In [21]:
# Geting the size using [.itemsize]
a.itemsize

4

In [23]:
# Getting the total size
a.size * a.itemsize
# or 
a.nbytes

12

## Manipulating the Rows

In [26]:
a = np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]])
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]]

In [27]:
# Getting the specific element(example getting 10)
a[1,2]

10

In [29]:
# Getting the Specific Row (Ussing the comma)[ value,:] == Rows
a[1, :]

array([ 8,  9, 10, 11, 12, 13, 14])

In [33]:
# Getting the specific column (exaple the first column) [:, value] == Columns
a[:,0]

array([1, 8])

In [52]:
#Getting specific number comination
#a[row, start:stop: step]
#a[,column start: stop: step]
a[0, 1:-1: 2 ] # Getting the 2 4, 6

array([2, 4, 6])

In [39]:
#removing the last 2 Colunm
a[:,0 :-2 ]

array([[ 1,  2,  3,  4,  5],
       [ 8,  9, 10, 11, 12]])

In [53]:
#Removing the first and last Column
a[:,1:-1 ]

array([[ 2,  3,  4,  5,  6],
       [ 9, 10, 11, 12, 13]])

In [57]:
#Changing the value 
# locate then equate
a[1,2] = 121 # Changing the 11 into 121
a

array([[  1,   2,   3,   4,   5,   6,   7],
       [  8,   9, 121,  11,  12,  13,  14]])

In [59]:
# Changing the whole column 
a[:,-1] = 3000
a

array([[   1,    2,    3,    4,    5,    6, 3000],
       [   8,    9,  121,   11,   12,   13, 3000]])

In [61]:
#Changing the whole rows 
a[0] = 16
a

array([[  16,   16,   16,   16,   16,   16,   16],
       [   8,    9,  121,   11,   12,   13, 3000]])